<form action="/<%= @fileread %>/rename" method="post">
  <label for="rename">Rename <%= @fileread %>:</label>
  <div>
    <input name="rename" value="<%= @fileread %>" type="text">
  </div>
  <button type="submit">Save Changes</button>
</form>
