<form action="/users/signup" method="post">
  <label>Please choose a username and a password to sign up.</label> 
  <div>
    <label for="username">Username:</label>
    <input class="inline" name="username" type="text">
  </div>
  <div>
    <label for="password">Password:</label>
    <input class="inline" name="password" type="text">
  </div>
  <button type="submit">Sign Up</button>
</form>
